@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    font-family: 'Nunito', sans-serif;
    background: var(--space-crayola);

}
/*pseudo-classe - mais específica que a tag html, mãe de todos os elementos da nossa página, crio variáveis para serem utilizadas no meu css*/
:root{
    --space-crayola: #2E3532;
    --dark-cyan: #2D898B;
    --bone: #DDD8C4;
    --pansy-purple: #7E1946;
    --lilac-luster: #B08EA2;
}

.background{
    background: var(--space-crayola);
}
/*classes reutilizáveis - delimitar o conteúdo do site*/
.container{
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;

}
section, footer{
    padding: 2.7rem 0;

}

/*classes do site*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

/* -- Menu -- */
.logo img{
    width: 30%;
}

.ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.ul li{
    margin: 0 35px;
    font-size: 20px;
}

.ul li a{
    color: var(--bone);
}
.menu-icon img{
    width: 30px;
    
}
.menu-icon{
    display: none;
    position: relative;
    z-index: 10;

}
/* -- End Menu Icon -- */

/* -- Responsive -- */
@media(max-width: 720px){
    .menu-icon{
        display: block;
    
    }
    .ul{
        position: fixed;
        background: var(--space-crayola);
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.3s;
        flex-direction: column;
        justify-content: center;

    }
    .ul li{
        font-size: 20px;
        margin: 20px 0;
        
    }
    .ul.ativo{
        left: 0;
    }
    footer .container{
        flex-direction: column;

    }
    footer .container ul{
        width: 100%;
        margin-bottom: 30px;
    }
}


/* -- Footer -- */
footer{
    background: var(--pansy-purple);
}

footer .container{
    display: flex;
    color: var(--bone);
}
footer .container ul{
    width: 30%;
}

footer .container h3{
    margin-bottom: 16px;
    font-weight: 600;
}

footer .container .redes-sociais img{
    margin-right: 10px;
    width: 40px;

}
footer .container ul > p{
    margin-bottom: 40px;
    

}
footer .container li{
    margin: 10px 0;
    list-style: none;

}

footer .container a{
    color: var(--bone);
}

footer .container img.logo{
    width: 30%;
}

/* -- End Footer -- */


/* -- Main -- */

main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    background: var(--pansy-purple);
}
.main-text{
    width: 50%;
    color: #DDD8C4;
}

.main-text h1{
    font-size: 2.2rem;
    padding: 10px;


}
.main-text div{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}
.main-img{
    width: 50%;

}
.main-img img{
    width: 100%;

}
.btn{
    width: 50%;
    margin: 70px;
    border-radius: 20px;
    font-size: 20px;
    border-color:#DDD8C4;
    background-color: #7E1946;
    padding: 10px;
    color: #B08EA2;
    
    

}



/* -- End Main -- */
.plans .container-cards{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    background: var(--space-crayola);
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

.plans .card{
    width: 22%;
    height: 350px;
    padding: 30px;
    border-radius: 15px;
    cursor: pointer;
    background: var(--bone);
    margin: 20px;

}
.plans .card img{
    width: 100%;
    min-height: 35vh;
    padding: 10px;
    border-radius: 30px;

    
    
}
.card:hover .content{
    opacity: 1;


}

.card .content {
    padding: 10px;
    text-align:center;
    color:white;
    opacity:0;
    transition: opacity .2s linear;
    background-color: var(--space-crayola);
    
}
.card .content p{
    text-align: left;
    padding: 10px;
}

.plans h2{
    color: #2E3532;
    text-align: center;
}

/*-- Cards*/